*.class
*.log
*.jar
*.war
*.ear
.env
/.idea/
/*.iml
/.project
/.classpath
/.settings/
/target/
/build/
.mvn/
!/.mvn/wrapper/maven-wrapper.jar
**/target/
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
.gradle/
*.tmp
*.temp
.idea/
*.iws
*.ipr
*.iml
/out/
.project
.classpath
.cproject
.settings/
*.launch
.springBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
.vscode/
.DS_Store
Thumbs.db
